@mixin btn {
	display: inline-block;
	font-family: inherit;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	border-radius: $border-radius;
}

@mixin btn-primary {
	padding: 16px 24px;
	color: #fff;
	background-color: $color-primary;
	@include font-style(16px, 16px, 700);

	&:hover {
		background-color: $color-primary-button-hover;
	}
}

@mixin btn-secondary {
	padding: 22px 32px;
	color: $color-dark-text;
	background-color: $color-secondary;
	@include font-style(16px, 14px, 700);

	&.btn-secondary-md {
		padding: 16px 24px;
	}

	&:hover {
		background-color: $color-secondary-button-hover;
	}

	@media (max-width: $md) {
		border-radius: 6px;
	}
}

.btn {
	@include btn;
}

.btn-large {
	min-width: 320px;
	@media (max-width: $md) {
		min-width: 240px;
	}
}

.btn-primary {
	@include btn-primary;
}

.btn-secondary {
	@include btn-secondary;
}

.btn-toggle {
	padding-right: 55px;
	position: relative;
	&::after {
		position: absolute;
		display: block;
		content: '';
		width: 6px;
		height: 6px;
		top: 55%;
		right: 30px;
		margin-top: -3px;
		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;
		transform: rotate(45deg) translateY(-50%);
		transition: all 0.2s ease-in-out;
		transform-origin: 50% 0;
	}

	&.opend {
		&::after {
			margin-top: 2px;
			transform: rotate(-135deg) translateY(-50%);
		}
	}
}

@mixin mail-link {
	display: block;
	@include font-style(16px, 16px, 700);
	color: #fff;

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.icon {
		width: 20px;
		height: 20px;
		background-image: url(../../img/insta-white.svg);
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: 10px;
	}
}

.btn-camp-heading {
	&.btn-camp-heading-fixed {
		position: fixed;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 65;
	}
}
