input,
textarea,
select {
	font-family: inherit;
	background-color: transparent;
	outline: none !important;
}

select {
	border: none;
}

.hs-form {
	.hs-input {
		background-color: transparent !important;
	}
}
