* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

body {
	&.single-camps,
	&.single-coliving {
		background-color: #faf5f0;
	}
}

.container {
	font-family: 'Manrope', sans-serif;
	padding-top: 70px;
	color: $color-light-text;
	overflow: hidden;
	@include font-style(18px, 16px, 400);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: $menu-point) {
		padding-top: 57px;
	}
}

.wrapper {
	max-width: 1340px;
	padding: 0 50px;
	margin: 0 auto;

	@media (max-width: $md) {
		padding: 0 15px;
	}
}

.wrapper-lg {
	max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
}

.wrapper-md {
	max-width: 950px;
	margin: 0 auto;
}

.wrapper-sm {
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.color-primary {
	color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.color-dark {
	color: $color-dark-text;
}

.color-white {
	color: #fff;
}

.color-white-opacity {
	color: $color-white-text-opacity;
}

.center {
	text-align: center;
}

.center-mobile {
	@media (max-width: $md) {
		text-align: center;
	}
}

.center-desktop {
	text-align: center;

	@media (max-width: $md) {
		text-align: left;
	}
}

video {
	display: block;
	width: 100%;
}

.light-background {
	background-color: $color-light-background;
}

.white-background {
	background-color: $color-white-background;
}

@media (max-width: $md) {
	.green-image-background-mobile {
		background-image: url(../../img/green-bg.jpg);
	}

	.color-white-mobile {
		color: #fff;
	}
}

.light-bg-overlay {
	padding-top: 80px;
	margin-top: -78px;
}

.light-green-bg {
	background-color: rgba(187, 219, 137, 0.5);
}

.hidden {
	display: none;
}

.overflow {
	overflow: hidden;
}

.border-radius {
	border-radius: $border-radius;
}

.delayed-display {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.mobile {
	display: none;

	@media (max-width: $md) {
		display: block;
	}
}

body.single-events {
	background-color: $color-light-background;

	@media (max-width: $md) {
		background-color: $color-white-background;
	}
}

body.post-type-archive-events {
	background-color: $color-light-background;
}
