* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

.container {
	// max-width: 1920px;
	// margin: 0 auto;
	font-family: 'Manrope', sans-serif;
	padding-top: 70px;
	color: $color-light-text;
	overflow: hidden;
	@include font-style(18px, 16px, 400);

	@media (max-width: $menu-point) {
		padding-top: 57px;
	}
}

.wrapper {
	max-width: 1340px;
	padding: 0 50px;
	margin: 0 auto;

	@media (max-width: $md) {
		padding: 0 15px;
	}
}

.wrapper-lg {
	max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
}

.wrapper-md {
	max-width: 950px;
	margin: 0 auto;
}

.wrapper-sm {
	max-width: 680px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.color-primary {
	color: $color-primary;
}

.color-dark {
	color: $color-dark-text;
}

.color-white {
	color: #fff;
}

.color-white-opacity {
	color: $color-white-text-opacity;
}

.center {
	text-align: center;
}

.center-mobile {
	@media (max-width: $md) {
		text-align: center;
	}
}

video {
	display: block;
	width: 100%;
}

.light-background {
	background-color: $color-light-background;
}

.light-bg-overlay {
	padding-top: 80px;
	margin-top: -78px;
}

.hidden {
	display: none;
}

.overflow {
	overflow: hidden;
}

.border-radius {
	border-radius: $border-radius;
}
