.camp-advantages {
	.advantages-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 48px;
		row-gap: 32px;
	}

	.advantages-icon {
		height: 48px;
		margin-bottom: 24px;
		img {
			margin: auto;
		}
	}

	.advantages-text {
		@include font-style(18px, 16px, 600);
		line-height: 1.4;
	}

	@media (max-width: $md) {
		.advantages-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 16px;
		}

		.advantages-text {
			font-weight: 400;
		}
	}
}
