.camp-heading {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: $border-radius;
}

.camp-heading-content {
	padding: 86px 50px 60px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4));

	&.camp-heading-content-comoonity {
		padding-top: 180px;
		min-height: 540px;

		@media (max-width: $md) {
			padding-top: 48px;
			padding-bottom: 48px;
			min-height: 560px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.badge-list-container {
				margin: 0;
			}
		}
	}

	&.event-heading-content {
		padding-top: 140px;
		padding-bottom: 110px;

		@media (max-width: $md) {
			padding-top: 48px;
			padding-bottom: 48px;

			.badge-list-container {
				margin: 100px 0;
			}

			.badges-list {
				display: block;
				text-align: center;
				.badge {
					width: fit-content;
					margin: 8px auto;
				}
			}
		}
	}

	h1 {
		@include font-style(48px, 32px, 800);
		text-transform: uppercase;
		max-width: 920px;
		line-height: 1.1;
		margin: 0 auto;
	}

	.badges-list {
		justify-content: center;
	}

	.badge-list-container {
		margin: 48px 0 86px;
	}

	.badges-list-bottom {
		margin-top: 16px;
	}

	@media (max-width: $md) {
		padding: 48px 16px;

		h1 {
			line-height: 1;
		}

		.badge-list-container {
			margin: 75px 0;
		}

		.badges-list-bottom {
			margin-top: 8px;
		}
	}
}

@media (max-width: $menu-point) {
	.camp-heading-actions {
		min-height: 58px;
	}
}
