.camp-gallery {
	.camp-gallery-item-wrapper {
		height: 1100px;

		@media (max-width: 1920px) {
			height: 720px;
		}

		@media (max-width: $md) {
			height: 250px;
		}
	}
	.camp-gallery-item {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.slick-dots {
		bottom: -35px;
	}
}

.camp-gallery-wrapper {
	position: relative;
}

.gallery__prev-arr,
.gallery__next-arr,
.gallery__prev-arr-admin,
.gallery__next-arr-admin,
.slick-next,
.slick-prev {
	position: absolute;
	top: 50%;
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 48px;
	height: 48px;
	cursor: pointer;

	@media (max-width: $md) {
		display: none;
	}
}

.gallery__prev-arr,
.gallery__prev-arr-admin,
.slick-prev {
	left: 40px;
	background-image: url(../../img/gallery-arr-left.svg);
}

.gallery__next-arr,
.gallery__next-arr-admin,
.slick-next {
	right: 40px;
	background-image: url(../../img/gallery-arr-right.svg);
}

.comoonity-camps-list {
	.slick-prev,
	.slick-next {
		height: 100%;
		width: 90px;
		background-size: 48px !important;

		cursor: initial;
	}

	.slick-prev {
		left: 0;
		background-position: top 260px right;
	}

	.slick-next {
		right: 0;
		background-position: top 260px left;
	}
}



