.camp-heading {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: $border-radius;
}

.camp-heading-content {
	padding: 120px 50px 94px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4));

	h1 {
		@include font-style(48px, 32px, 800);
		text-transform: uppercase;
		max-width: 520px;
		line-height: 0.9;
		margin: 0 auto;
	}

	.badges-list {
		justify-content: center;
		margin: 48px 0 86px;
	}

	@media (max-width: $md) {
		padding: 48px 16px;

		h1 {
			line-height: 1;
		}

		.badges-list {
			margin: 90px 0;
		}
	}
}
