.camp-report {
	.grid {
		position: relative;
		left: -15px;
		width: calc(100% + 30px);
		opacity: 0;
		transition: opacity 0.3s;

		&.loaded {
			opacity: 1;
		}
		@media (max-width: $md) {
			opacity: 1;
			width: 100%;
			position: static;
		}
	}

	.grid-item {
		width: 50%;
		padding: 15px;

		@media (max-width: $md) {
			width: 100%;
			padding: 5px 0;
		}
	}

	.home-video {
		margin-top: 30px;
		border-radius: $border-radius;
		overflow: hidden;
	}

	img {
		width: 100%;
	}
}

.video-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-top: 30px;

	@media (max-width: $md) {
		grid-template-columns: 1fr;
		gap: 9px;
		margin-top: 7px;
		.home-video {
			margin-top: 0;
		}
	}

	.home-video {
		margin-top: 0;
	}
}
