.camp-admin {
	padding: 80px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../../img/admin-bg-desktop.jpg);

	&.camp-admin-slider {
		padding: 140px 0;
	}

	.camp-admin-container {
		display: flex;
		align-items: center;
		column-gap: 56px;
	}

	.camp-admin-photo {
		width: 288px;
		min-width: 288px;
		height: 460px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.camp-admin-content {
		h2 {
			text-transform: uppercase;
			margin-bottom: 24px;
		}
	}

	.admins-gallery {
		.slick-dots {
			bottom: auto;
			top: -115px;
		}
	}

	@media (max-width: $md) {
		padding: 60px 0;
		background-image: url(../../img/admin-bg-mobile.jpg);

		&.camp-admin-slider {
			padding: 80px 0 40px;

			.camp-admin-content {
				h2 {
					text-align: left;
				}
			}
		}

		.admins-gallery {
			.slick-dots {
				top: -76px;
			}
		}

		.camp-admin-container {
			flex-direction: column;
		}

		.camp-admin-photo {
			width: 100%;
			height: 400px;
			margin-bottom: 24px;
		}

		.camp-admin-content {
			width: 100%;
			h2 {
				text-transform: none;
				text-align: center;
				margin-bottom: 16px;
			}
		}
	}
}
