.categories-list {
	margin: 48px 0;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.categories-item {
	line-height: 1;
	padding: 8px 16px;
	border-radius: 30px;
	border: 1px solid $color-primary;
	color: $color-dark-text;
	line-height: 1.55;
	@include font-style(18px, 16px, 500);

	&.active,
	&:hover {
		background-color: $color-primary;
		color: $color-white-text;
	}
}
