.post-type-archive-camps {
	background-color: $color-light-background;
}

.camps-upcoming-info {
	margin-bottom: 56px;
	@media (max-width: $md) {
		margin-bottom: 40px;
	}
}

.camps-upcoming-text,
.camps-past-text {
	margin-top: 32px;
	max-width: 986px;
	p {
		margin: 5px 0;
	}
}

.camps-past-info {
	margin-bottom: 40px;
}
.camps-list-container-past {
	background-color: $color-white-background;
}

.upcoming-camps-list {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 30px;
	@media (max-width: $md) {
		row-gap: 40px;
	}
}
.past-camps-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	row-gap: 40px;

	.camps-item {
		height: 360px;
	}

	@media (max-width: $md) {
		grid-template-columns: 1fr;
	}
}

.camps-item {
	display: block;
	height: 480px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: $border-radius;
}

.camps-content {
	width: 100%;
	height: 100%;
	padding: 48px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: $md) {
		padding: 30px 16px;
	}

	background: linear-gradient(
			0deg,
			rgba(36, 38, 28, 0.1) 0%,
			rgba(36, 38, 28, 0.1) 100%
		),
		linear-gradient(
			355deg,
			rgba(0, 0, 0, 0.9) 1.89%,
			rgba(0, 0, 0, 0.89) 13.08%,
			rgba(0, 0, 0, 0.87) 22.18%,
			rgba(0, 0, 0, 0.84) 29.52%,
			rgba(0, 0, 0, 0.79) 35.42%,
			rgba(0, 0, 0, 0.74) 40.2%,
			rgba(0, 0, 0, 0.67) 44.17%,
			rgba(0, 0, 0, 0.6) 47.67%,
			rgba(0, 0, 0, 0.53) 51%,
			rgba(0, 0, 0, 0.45) 54.5%,
			rgba(0, 0, 0, 0.37) 58.47%,
			rgba(0, 0, 0, 0.29) 63.25%,
			rgba(0, 0, 0, 0.21) 69.15%,
			rgba(0, 0, 0, 0.14) 76.49%,
			rgba(0, 0, 0, 0.07) 85.59%,
			rgba(0, 0, 0, 0) 96.78%
		);
}

.camps-description {
	max-width: 510px;
}
