.filters {
	margin-bottom: 48px;
	opacity: 0;
	transition: all 0.2s ease-in-out;

	.filters-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}

	.filters-mobile-heading {
		@include font-style(20px, 20px, 600);
		display: flex;
		justify-content: space-between;
		padding-bottom: 8px;
		border-bottom: 1px solid #f2f4f7;

		.filters-close {
			width: 24px;
			height: 24px;
			background-image: url(../../img/filters-close.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.filters-open {
	width: 48px;
	height: 48px;
	position: fixed;
	z-index: 10;
	right: 24px;
	bottom: 24px;
	border-radius: 100%;
	background-image: url(../../img/filters-open.svg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 2px 10px 0px rgba(75, 89, 43, 0.24),
		0px 18px 30px 0px rgba(26, 33, 7, 0.16);
}

@media (max-width: $md) {
	.filters {
		display: none;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		background-color: rgba(51, 51, 51, 0.64);
		margin-bottom: 0;
		max-height: 100%;
		overflow: hidden;

		z-index: 200;

		.filters-container {
			max-height: 100%;
			overflow-y: auto;
			background-color: #fff;
			padding: 24px 16px 32px;
			border-radius: 12px 12px 0px 0px;
			position: absolute;
			width: 100%;
			bottom: 0;
		}

		.filters-wrapper {
			flex-direction: column;
			flex-wrap: nowrap;
		}
	}
}
