.header-logo {
	display: flex;
	align-items: center;

	img {
		width: 168px;
		margin-top: 5px;

		@media (max-width: $md) {
      width: 147px;
		}
	}
}

.pll-languages {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 40px;
	text-transform: uppercase;
	color: $color-white-text-header;

	@media (max-width: $menu-point) {
		margin-right: 0;
		font-size: 18px;

		li {
			margin: 0 9px !important;
		}
	}

	li {
		margin: 0 5px;

		&.current-lang {
			a {
				font-weight: 600;
				cursor: default;
			}
		}
	}
}

.header {
	padding: 13px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 15;
	transition: top 0.3s ease-in-out;
	background-color: $color-black;

	&.nav-up {
		top: -72px;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navbar-nav,
	.heder-action {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.menu-item {
		@include font-style(16px, 16px, 400);
		margin-right: 40px;
		color: $color-white-text-header;
	}

	.lang-item {
		list-style-type: none;
		display: inline-block;
		margin: 0 5px;
	}

	.header-burger {
		height: 32px;
		width: 32px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../../img/yellow-burger.svg);
		display: none;
	}

	@media (max-width: $menu-point) {
		.header-burger {
			display: block;
		}

		.heder-action {
			.navbar-nav,
			.btn-secondary {
				display: none;
			}
		}
	}
}
