.you-are-getting {
	// padding: 180px 0;

	.you-are-getting-list {
		margin-top: 56px;
	}

	.you-are-getting-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 30px;
		row-gap: 56px;
	}

	.you-are-getting-item {
		h3 {
			margin: 32px 0 16px;
		}

		div {
			@include font-style(18px, 16px, 400);
		}

		img {
			border-radius: $border-radius;
		}
	}

	@media (max-width: $md) {
		// padding: 60px 0 80px;

		h2 {
			text-align: center;
		}

		.you-are-getting-list {
			display: block;
			margin-top: 40px;
		}
	}
}
