@mixin dots-top-large {
	.slick-dots li button {
		width: 56px;
		height: 6px;
		border-radius: 4px;

		@media (max-width: $md) {
			width: 44px;
			height: 3px;
		}
	}

	.slick-dots li.slick-active button {
		background-color: #fff;
	}
}

@mixin dots-bottom-green {
	.slick-dots li button {
		width: 8px;
		height: 8px;
	}

	.slick-dots li.slick-active button {
		width: 10px;
		height: 10px;
		background-color: $color-primary;
	}
}

.slick-slider {
	@include dots-bottom-green;
	&.dots-top-large {
		@include dots-top-large;
	}

	&.dots-top-large-desktop,
	&.wp-block-gallery {
		@media (min-width: $md) {
			@include dots-top-large;
		}
	}
}

@media (max-width: $md) {
	.you-are-getting-list,
	.founders-list,
	.entertainments-list,
	.admins-gallery,
	.camp-magnet-slider,
	.camp-info .advantages-list,
	.comoonity-camps-list,
	.comoonity-people-list.desktop-slider,
	.comoonity-people-list.mobile-slider,
	.comoonity-events .events-list,
	.event-gallery,
	.program-list,
	.wp-block-gallery,
	.camps-list-mobile-slider {
		position: relative;
		width: calc(100% + 24px);
		left: -8px;
		.slick-list {
			padding: 0 36px 0 0;
		}

		.slick-slide {
			padding: 0 8px;
		}
	}

	.comoonity-insta-list {
		position: relative;
		width: calc(100% + 24px);
		left: -12px;
		.slick-list {
			padding: 0 92px 0 0;
		}
	}

	.comoonity-events .events-list {
		.slick-list {
			padding: 0 14px 0 0;
		}
	}
}
