.home-video {
	position: relative;

	.overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.video-play {
		width: 100px;
		height: 100px;
		background-image: url(../../img/video-play.svg);
		background-repeat: no-repeat;
		background-size: cover;
		cursor: pointer;

		&.video-play-white {
			background-image: url(../../img/video-play-white.svg);
			@media (max-width: $md) {
				width: 48px;
				height: 48px;
			}
		}
	}
}

@media (max-width: $md) {
	.front-page-video {
		height: 460px;

		video {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
