.badges-list {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;

	@media (max-width: $md) {
		gap: 8px;

		&.justify-center-mobile {
			justify-content: center;
		}
	}
}

@mixin badge {
	border-radius: 30px;
	color: $color-dark-text;
	line-height: 1;
	background-repeat: no-repeat;
	background-position: 14px center;
}

.badge {
	@include badge;
	background-color: #fff;
	@include font-style(16px, 14px, 500);
	padding: 12px 16px 12px 38px;

	@media (max-width: $md) {
		padding: 10px 16px 10px 38px;
	}

	&.badge-no-icon {
		padding: 12px 16px;
	}

	&.badge-calendar {
		background-image: url(../../img/badge-calendar.svg);
	}

	&.badge-user {
		background-image: url(../../img/badge-user.svg);
	}

	&.badge-place {
		background-image: url(../../img/badge-place.svg);
	}
}

.badge-green-border {
	@include badge;
	padding: 12px 16px 12px 48px;
	border: 1px solid $color-primary;
	white-space: nowrap;
	@include font-style(18px, 16px, 400);

	@media (max-width: $md) {
		background-size: 20px;
		padding: 10px 16px 10px 44px;
	}
}

.badge-blue {
	@include badge;
	color: #fff;
	background-color: $color-attention;
}
