.header {
	padding: 12px 0;
	background-color: $color-light-background;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navbar-nav,
	.heder-action {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.header-logo {
		@include font-style(25px, 25px, 800);
	}

	.menu-item {
		@include font-style(16px, 16px, 400);
		margin-right: 40px;
		color: $color-dark-text;
	}
}
