.home-find-friends {
	padding: 203px 0;
	background-image: url(../../img/friends.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media (max-width: $md) {
		background-image: url(../../img/friends-mobile.jpg);
	}
}
