$color-light-text: rgba(32, 32, 32, 0.7);
$color-dark-text: #24261c;
$color-white-text: #fff;
$color-white-text-opacity: rgba(255, 255, 255, 0.7);

$color-primary: #657838;
$color-secondary: #f7ab37;
$color-attention: #6120f6;
$color-light-green: #bbdb89;

$color-primary-button-hover: #516424;
$color-secondary-button-hover: #d98d19;

$color-light-background: #f3e7db;
$color-white-background: #faf5f0;

$border-radius: 8px;

$lg: 992px;
$md: 768px;
$sm: 576px;

$menu-point: 1220px;
